// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../vendor/bootstrap/5.3.1/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../../vendor/bootstrap/5.3.1/scss/variables";
@import "../../../vendor/bootstrap/5.3.1/scss/variables-dark";

// 4. Include any default map overrides here
@import "./themes/blue";

// 5. Include remainder of required parts
@import "../../../vendor/bootstrap/5.3.1/scss/maps";
@import "../../../vendor/bootstrap/5.3.1/scss/mixins";
@import "../../../vendor/bootstrap/5.3.1/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../vendor/bootstrap/5.3.1/scss/utilities";
@import "../../../vendor/bootstrap/5.3.1/scss/reboot";
@import "../../../vendor/bootstrap/5.3.1/scss/type";
@import "../../../vendor/bootstrap/5.3.1/scss/images";
@import "../../../vendor/bootstrap/5.3.1/scss/containers";
@import "../../../vendor/bootstrap/5.3.1/scss/grid";
@import "../../../vendor/bootstrap/5.3.1/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../vendor/bootstrap/5.3.1/scss/utilities/api";

// 8. Add additional custom code here



body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}


.sidebar {
    position: fixed;
    top:0;
    left: 0;

    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;

    width: 16rem;
    background-color: $blue-300
}

.topsidebar{



}

.main {
    display: inline;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}
.lh-tight {
    line-height: 1.25;
}
/**
Breakpoint          Class infix Dimensions
X-Small             None	<576px
Small               sm          ≥576px
Medium              md          ≥768px
Large               lg          ≥992px
Extra large         xl          ≥1200px
Extra extra large   xxl         ≥1400px

*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .topsidebar{
        width: calc(100% - 16rem)!important;
        margin-left: 16rem;
    }
    .main{
        width: calc(100% - 16rem)!important;
        margin-left: 16rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
}
